<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="/fonts/suprapower/stylesheet.css" rel="stylesheet" type="text/css"/>
    <link href="/fonts/programme/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/mainstyle.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/wavesurfer.js@7/dist/wavesurfer.min.js"></script> 
</head>
<body style="background-color: #333333;">
    <header>
        <nav class="navbar navbar-expand-lg bg-dark fixed-top" data-bs-theme="dark" style="z-index: 50; opacity: 0.85;">
            <div class="container-fluid">
              <a class="nav-item" href="https://matias.me/nsfw/" style="text-decoration: none; padding-right: 35px;">Museground</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 list-group list-group-horizontal">
                  <li class="nav-item">
                    <a class="nav-link" href="/login"  aria-current="page" href="#">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/profile"  aria-current="page" href="#">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/tracks">Tracks</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/samples">Samples</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/packs">Packs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/presets">Presets</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/plugins">Plugin</a>
                  </li>
                </ul>
            </div>
          </nav>
        <nav id="sidebar" class="col-md-3 col-lg-2 h-100 d-md-block sidebar">
          <div class="position-sticky">
            <ul class="nav flex-column">
              <li class="nav-item text-light">
                <h4 class="font-weight-bold"><a class="nav-link active" href="/profile">Profile</a></h4>
              </li>
              <li class="nav-item text-light">
                <h4 class="font-weight-bold">Downloaded Items</h4>
                <div class="scrollable-content">
                  <ul class="nav flex-column">
                    <li class="nav-item text-light"><a class="nav-link" href="/profile/items/tracks">Tracks</a></li>
                    <li class="nav-item text-light"><a class="nav-link" href="/profile/items/samples">Samples</a></li>
                    <li class="nav-item text-light"><a class="nav-link" href="/profile/items/packs">Packs</a></li>
                    <li class="nav-item text-light"><a class="nav-link" href="/profile/items/presets">Presets</a></li>
                    <li class="nav-item text-light"><a class="nav-link" href="/profile/items/plugins">Plugins</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item text-light">
                <h4 class="font-weight-bold">Created Items</h4>
                <div class="scrollable-content">
                  <ul class="nav flex-column">
                    <li class="nav-item text-light"><a class="nav-link" href="/profile/items/samples-created">Samples</a></li>
                    <li class="nav-item text-light"><a class="nav-link" href="/profile/items/packs-created">Packs</a></li>
                    <li class="nav-item text-light"><a class="nav-link" href="/profile/items/presets-created">Presets</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </nav>
    </header>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-xs-5 px-lg-5 content-area" data-bs-theme="dark" style="margin-top: 50px; margin-bottom: 50px;">
        <div class="row">
            <div class="col-md-12">
                    <h1>Hello <%= user.username %></h1>
                    <a href="/create/sample" class="btn btn-primary">Create Sample</a>
                    <a href="/create/pack" class="btn btn-primary">Create Pack</a>
                    <a href="/create/preset" class="btn btn-primary">Create Preset</a>
                    <h2>Your <%= action %> <%= type %></h2>
                    <% if (type === 'Profile') { %>
                                <div class="card mt-4 bg-dark text-light">
                                    <div class="card-body">
                                        <form>
                                            <div class="mb-3">
                                                <label for="username" class="form-label">Username</label>
                                                <input type="text" class="form-control-plaintext" id="username" value="<%= user.username %>" readonly>
                                            </div>
                                            <div class="mb-3">
                                                <label for="email" class="form-label">Email</label>
                                                <input type="email" class="form-control-plaintext" id="email" value="<%= user.email %>" readonly>
                                            </div>
                                            <div class="mb-3">
                                                <label for="lastvisit" class="form-label">Last Visit</label>
                                                <input type="text" class="form-control-plaintext" id="lastvisit" value="<%= user.lastvisit %>" readonly>
                                            </div>
                                            <div class="mb-3">
                                                <label for="dateregistered" class="form-label">Date Registered</label>
                                                <input type="text" class="form-control-plaintext" id="dateregistered" value="<%= user.dateregistered %>" readonly>
                                            </div>
                                            <div class="mb-3">
                                                <label for="maxtracks" class="form-label">Max Tracks</label>
                                                <input type="text" class="form-control-plaintext" id="maxtracks" value="<%= user.maxtracks %>" readonly>
                                            </div>
                                            <div class="mb-3">
                                                <a href="/logout" class="btn btn-danger">Logout</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%}%>
                    <% if (type === 'Tracks') { %>
                        <div class="row" id="dtracks">
                            <div class="col-md-12">
                                <% tracks.forEach(track => { %>
                                    <div class="card h-80 w-100 bg-dark track-big">
                                        <div class="card-body">
                                            <h5 class="card-title"><%= track.title %></h5>
                                            <p class="card-text"><%= track.author %></p>
                                            <div id="waveform<%= track.trackid %>" class="wave"></div>
                                            <ul class="controls list-group list-group-horizontal" style="padding: 10px 0px 5px 0px; display: flex">
                                                <li class="list-group-item list-group-item-dark text-center"><button id="playPauseBtn<%= track.trackid %>" class="btn btn-secondary">Play</button></li>
                                                <li class="list-group-item list-group-item-dark text-center"><input type="range" id="loudness<%= track.trackid %>" value="50" /></li>
                                                <li class="list-group-item list-group-item-dark text-center"><button id="pitchDownBtn<%= track.trackid %>" class="btn btn-secondary">Pitch Down</button></li>
                                                <li class="list-group-item list-group-item-dark text-center"><button id="pitchUpBtn<%= track.trackid %>" class="btn btn-secondary">Pitch Up</button></li>
                                            </ul>
                                            <ul class="list-group list-group-horizontal" style="padding: 10px 0px 5px 0px;">
                                                <li class="list-group-item list-group-item-dark text-center">
                                                    <form id="downloadForm<%= track.trackid %>" action="/download" method="POST" style="display: none;">
                                                        <input type="hidden" name="userid" value="<%= user.userid %>"> <!-- Add user ID here -->
                                                        <input type="hidden" name="itemid" value="<%= track.trackid %>">
                                                        <input type="hidden" name="itemtype" value="track">
                                                    </form>
                                                    <button id="downloadBtn<%= track.trackid %>" class="btn btn-secondary" onclick="document.getElementById('downloadForm<%= track.trackid %>').submit();">
                                                        Download
                                                    </button>
                                                </li>
                                                <li class="list-group-item list-group-item-dark text-center"><p id="trackLength<%= track.trackid %>">Length: <%= track.length %> </p></li>
                                                <li class="list-group-item list-group-item-dark text-center"><p id="trackKey<%= track.trackid %>">Key: <%= track.key %></p></li>
                                                <li class="list-group-item list-group-item-dark text-center"><p id="trackBPM<%= track.trackid %>">BPM: <%= track.bpm %></p></li></ul>
                                                <ul class="list-group list-group-horizontal" style="padding: 10px 0px 5px 0px;">
                                                    <li class="list-group-item list-group-item-dark text-center"><p id="trackLabel<%= track.trackid %>">Label: <%= track.label %> </p></li>
                                                    <li class="list-group-item list-group-item-dark text-center"><p id="trackDateCreated<%= track.trackid %>">Created: <%= track.datecreated %></p></li>
                                                    <li class="list-group-item list-group-item-dark text-center"><p id="trackDateAdded<%= track.trackid %>">Added to app: <%= track.dateadded %></p></li>
                                                    <li class="list-group-item list-group-item-dark text-center"><p id="trackGenre<%= track.trackid %>">Genre: <%= track.genre[0] %></p></li>
                                                </ul>
                                        </div>
                                    </div>
                                <% }); %>
                                </div>
                        </div>
                        <script type="text/javascript">
                            document.addEventListener('DOMContentLoaded', function() {
                            const waveformElements = document.querySelectorAll('[id^="waveform"]');
                            const trackdatajson = '<%- JSON.stringify(trackdata) %>';
                            const trackdata = JSON.parse(trackdatajson);
                            const wavesurfers = [];

                            waveformElements.forEach((waveform, index) => {
                                const wavesurfer = WaveSurfer.create({
                                    container: `#waveform${trackdata.trackids[index]}`,
                                    responsive: true,
                                    height: 60,
                                    waveColor: '#00F0FF',
                                    progressColor: '#0070FF',
                                });

                                wavesurfer.load(trackdata.trackpaths[index]);

                                const playPauseBtn = document.getElementById(`playPauseBtn${trackdata.trackids[index]}`);
                                if (playPauseBtn) {
                                    playPauseBtn.addEventListener('click', () => {
                                        wavesurfer.playPause();
                                        playPauseBtn.innerText = wavesurfer.isPlaying() ? 'Pause' : 'Play';
                                    });
                                }

                                const loudnessInput = document.getElementById(`loudness${trackdata.trackids[index]}`);
                                if (loudnessInput) {
                                    loudnessInput.addEventListener('input', () => {
                                        wavesurfer.setVolume(loudnessInput.value / 100);
                                    });
                                }

                                const pitchDownBtn = document.getElementById(`pitchDownBtn${trackdata.trackids[index]}`);
                                if (pitchDownBtn) {
                                    pitchDownBtn.addEventListener('click', () => {
                                        wavesurfer.setPlaybackRate(wavesurfer.getPlaybackRate() - 0.1);
                                    });
                                }

                                const pitchUpBtn = document.getElementById(`pitchUpBtn${trackdata.trackids[index]}`);
                                if (pitchUpBtn) {
                                    pitchUpBtn.addEventListener('click', () => {
                                        wavesurfer.setPlaybackRate(wavesurfer.getPlaybackRate() + 0.1);
                                    });
                                }

                                const downloadBtn = document.getElementById(`downloadBtn${trackdata.trackids[index]}`);
                                if (downloadBtn) {
                                    downloadBtn.addEventListener('click', () => { });
                                }

                                wavesurfers.push(wavesurfer);
                            });
                        });
                        </script>
                    <% } %>
                    
                    <% if (type === 'Samples' && action==='Downloaded') { %>
                        <div class="row" id="dsamples">
                        <div class="row">
                            <% samples.forEach((sample, index) => { %>
                                <% if (index % 2 === 0 && index !== 0) { %>
                                    </div>
                                    <div class="row">
                                <% } %>
                                <div class="col-md-6">
                                    <div class="sample">
                                        <div class="card h-100 w-100 bg-dark" style="color: #c7c7c7; margin-top: 50px;">
                                            <div class="card-body">
                                                <h5 class="card-title"><%= sample.title %></h5>
                                                <p class="card-text"><%= sample.authorname %></p>
                                                <div id="waveform<%= sample.sampleid %>" class="wave"></div>
                                                <ul class="controls list-group list-group-horizontal" style="padding: 10px 0px 5px 0px; display: flex">
                                                    <li class="list-group-item list-group-item-dark text-center">
                                                        <button id="playPauseBtn<%= sample.sampleid %>" class="btn btn-secondary">Play</button>
                                                    </li>
                                                    <li class="list-group-item list-group-item-dark text-center">
                                                        <input type="range" id="loudness<%= sample.sampleid %>" value="50" />
                                                    </li>
                                                    <li class="list-group-item list-group-item-dark text-center">
                                                        <button id="pitchDownBtn<%= sample.sampleid %>" class="btn btn-secondary">Pitch Down</button>
                                                    </li>
                                                    <li class="list-group-item list-group-item-dark text-center">
                                                        <button id="pitchUpBtn<%= sample.sampleid %>" class="btn btn-secondary">Pitch Up</button>
                                                    </li>
                                                </ul>
                                                <ul class="list-group list-group-horizontal" style="padding: 10px 0px 5px 0px;">
                                                    <li class="list-group-item list-group-item-dark text-center">
                                                        <form id="downloadForm<%= sample.sampleid %>" action="/download" method="POST" style="display: none;">
                                                            <input type="hidden" name="userid" value="<%= user.userid %>"> <!-- Add user ID here -->
                                                            <input type="hidden" name="itemid" value="<%= sample.sampleid %>">
                                                            <input type="hidden" name="itemtype" value="sample">
                                                        </form>
                                                        <button id="downloadBtn<%= sample.sampleid %>" class="btn btn-secondary" onclick="document.getElementById('downloadForm<%= sample.sampleid %>').submit();">
                                                            Download
                                                        </button>
                                                    </li>
                                                    <li class="list-group-item list-group-item-dark text-center">
                                                        <p id="trackLength<%= sample.sampleid %>">Length: <%= sample.length %></p>
                                                    </li>
                                                    <li class="list-group-item list-group-item-dark text-center">
                                                        <p id="trackKey<%= sample.sampleid %>">Key: <%= sample.key %></p>
                                                    </li>
                                                    <li class="list-group-item list-group-item-dark text-center">
                                                        <p id="trackBPM<%= sample.sampleid %>">BPM: <%= sample.bpm %></p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                        <script type="text/javascript">
                            document.addEventListener('DOMContentLoaded', function() {
                            const waveformElements = document.querySelectorAll('[id^="waveform"]');
                            const numberOfWaveforms = waveformElements.length;
                            const wavesurfers = [];
                            const sampledatajson = '<%-JSON.stringify(sampledata)%>';
                            const sampledata = JSON.parse(sampledatajson);
                    
                    
                            for (let i=0; i<numberOfWaveforms;i++)
                            {
                            const wavesurfer = WaveSurfer.create({
                            container: `#waveform${sampledata.sampleids[i]}`,
                            responsive: true,
                            height: 60,
                            waveColor: '#00F0FF',
                            progressColor: '#0070FF',
                        });
                    
                        wavesurfer.load(sampledata.samplepaths[i]);
                    
                        const playPauseBtn = document.getElementById(`playPauseBtn${sampledata.sampleids[i]}`);
                        playPauseBtn.addEventListener('click', () => {
                            wavesurfer.playPause();
                            playPauseBtn.innerText = wavesurfer.isPlaying() ? 'Pause' : 'Play';
                        });
                    
                        const loudnessInput = document.getElementById(`loudness${sampledata.sampleids[i]}`);
                        loudnessInput.addEventListener('input', () => {
                            wavesurfer.setVolume(loudnessInput.value / 100);
                        });
                    
                        const pitchDownBtn = document.getElementById(`pitchDownBtn${sampledata.sampleids[i]}`);
                        pitchDownBtn.addEventListener('click', () => {
                            wavesurfer.setPlaybackRate(wavesurfer.getPlaybackRate() - 0.1);
                        });
                    
                        const pitchUpBtn = document.getElementById(`pitchUpBtn${sampledata.sampleids[i]}`);
                        pitchUpBtn.addEventListener('click', () => {
                            wavesurfer.setPlaybackRate(wavesurfer.getPlaybackRate() + 0.1);
                        });
                    
                        const downloadBtn = document.getElementById(`downloadBtn${sampledata.sampleids[i]}`);
                        downloadBtn.addEventListener('click', () => {    });
                    
                        wavesurfers.push(wavesurfer);
                        }
                    });
                        </script>
                    
                    <% } %>
                    
                    <% if (type === 'Packs' && action==='Downloaded') { %>
                        <% for (let i = 0; i < packs.length; i++) { %>
                            <% if (i % 3 === 0) { %>
                                <div class="row">
                            <% } %>
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="<%=packs[i].imagepath%>" class="card-img-top" alt="Pack Image">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= packs[i].title %></h5>
                                        <p class="card-text">Rating: <span class="badge bg-warning"><%= packs[i].rating %></span></p>
                                        <p class="card-text">Price: $<%= packs[i].price %></p>
                                        <ul class="list-group">
                                            <% packs[i].samples.forEach(sample => { %>
                                                <li class="list-group-item sound">
                                                    <div id="waveform<%=sample.sampleid%>" class="wave"></div>
                                                    <button type="button" id="playPauseBtn<%=sample.sampleid%>" class="btn btn-outline-light">
                                                        <img src="/images/play.png" alt="Play" width="20" height="20">
                                                    </button>
                                                </li>
                                            <% }) %>
                                            <li class="list-group-item list-group-item-dark text-center">
                                                <form id="downloadForm<%= packs[i].packid %>" action="/download" method="POST" style="display: none;">
                                                    <input type="hidden" name="userid" value="<%= user.userid %>">
                                                    <input type="hidden" name="itemid" value="<%= packs[i].packid %>">
                                                    <input type="hidden" name="itemtype" value="pack">
                                                </form>
                                                <button id="downloadBtn<%= packs[i].packid %>" class="btn btn-secondary" onclick="document.getElementById('downloadForm<%= packs[i].packid %>').submit();">
                                                    Download
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <% if (i % 3 === 2 || i === packs.length - 1) { %>
                                </div>
                            <% } %>
                    
                        <%}%>
                        <script type="text/javascript">
                            document.addEventListener('DOMContentLoaded', function() {
                            const waveformElements = document.querySelectorAll('[id^="waveform"]');
                            const numberOfWaveforms = waveformElements.length;
                            const wavesurfers = [];
                            const packsampledatajson = '<%-JSON.stringify(sampledata)%>';
                            const packsampledata = JSON.parse(packsampledatajson);
                            var playPauseBtns = document.querySelectorAll('.btn-outline-light');
                    
                            for (let i=0; i<numberOfWaveforms;i++)
                            {
                            const wavesurfer = WaveSurfer.create({
                            container: `#waveform${packsampledata.sampleids[i]}`,
                            responsive: true,
                            height: 60,
                            waveColor: '#00F0FF',
                            progressColor: '#0070FF',
                        });
                        wavesurfer.load(packsampledata.samplepaths[i]);
                        wavesurfers.push(wavesurfer);
                        }
                    
                        playPauseBtns.forEach((btn, index) => {
                        btn.addEventListener('click', () => {
                            var img = btn.querySelector('img');
                            var isPlaying = wavesurfers[index].isPlaying();
                    
                            // Seek to the start and toggle play/pause
                            if (isPlaying) {
                                wavesurfers[index].pause();
                                img.src = '/images/play.png'; // Change to play image
                                img.alt = 'Play';
                            } else {
                                wavesurfers[index].seekTo(0);
                                wavesurfers[index].play();
                                img.src = '/images/pause.png'; // Change to pause image
                                img.alt = 'Pause';
                            }
                        });
                    });
                });
                    </script>
                    <% } %>
                    
                    <% if (type === 'Presets' && action==='Downloaded') { %>
                        <%for (let i = 0; i < presets.length; i++) { %>
                            <% if (i % 3 === 0) { %>
                                <div class="row" style="margin-bottom: 20px; margin-top: 15px;">
                            <% } %>
                    
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="<%=presets[i].imagepath%>" class="card-img-top" alt="This will become an image">
                                            <div class="card-body">
                                                <h5 class="card-title"><%=presets[i].title%></h5>
                                                <p class="card-text">Genre: <%=presets[i].genres%></p>
                                                <p class="card-text">VST: <%=presets[i].vst%></p>
                                                <p class="card-text">Author: <%=presets[i].authorname%></p>
                                                <p class="card-text">Price: <%=presets[i].price%></p>
                                                <p class="card-text">Rating: <%=presets[i].rating%></p>
                                                <p class="card-text text-center">
                                                    <form id="downloadForm<%= presets[i].presetid %>" action="/download" method="POST" style="display: none;">
                                                        <input type="hidden" name="userid" value="<%= user.userid %>">
                                                        <input type="hidden" name="itemid" value="<%= presets[i].presetid %>">
                                                        <input type="hidden" name="itemtype" value="preset">
                                                    </form>
                                                    <button id="downloadBtn<%= presets[i].presetid %>" class="btn btn-secondary" onclick="document.getElementById('downloadForm<%= presets[i].presetid %>').submit();">
                                                        Download
                                                    </button>
                                                </p>
                                            </div>
                                    </div>
                            </div>
                    
                            <% if (i % 3 === 2 || i === presets.length - 1) { %>
                            </div>
                            <% } %>
                        <% } %>
                    <%}%>
                    
                    
                    <% if (type === 'Plugins' && action==='Downloaded') { %>
                        <%for (let i = 0; i < plugins.length; i++) { %>
                            <% if (i % 3 === 0) { %>
                                <div class="row" style="margin-bottom: 20px; margin-top: 15px;">
                            <% } %>
                    
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="<%=plugins[i].imagepath%>" class="card-img-top" alt="VST Image">
                                    <div class="card-body">
                                        <h5 class="card-title"><%=plugins[i].title%></h5>
                                        <p class="card-text"><%plugins[i].description%></p>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item list-group-item-dark"><strong>Type:</strong><%=plugins[i].type%></li>
                                            <li class="list-group-item list-group-item-dark"><strong>Rating:</strong><%=plugins[i].rating%></li>
                                            <li class="list-group-item list-group-item-dark"><strong>Price:</strong><%=plugins[i].price%></li>
                                            <li class="list-group-item list-group-item-dark text-center">
                                                <form id="downloadForm<%= plugins[i].vstid %>" action="/download" method="POST" style="display: none;">
                                                    <input type="hidden" name="userid" value="<%= user.userid %>">
                                                    <input type="hidden" name="itemid" value="<%= plugins[i].vstid %>">
                                                    <input type="hidden" name="itemtype" value="plugin">
                                                </form>
                                                <button id="downloadBtn<%= plugins[i].vstid %>" class="btn btn-secondary" onclick="document.getElementById('downloadForm<%= plugins[i].vstid %>').submit();">
                                                    Download
                                                </button>
                                            </li>
                                        </ul>
                                        <div class="mt-3">
                                            <small class="text-muted">Tags: Electronic, Synth</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <% if (i % 3 === 2 || i === plugins.length - 1) { %>
                            </div>
                            <% } %>
                        <% } %>
                    <%}%>
                    
                    
                    <% if (type === 'Samples' && action==='Created') { %>
                        <div class="row" id="dsamples">
                        <div class="row">
                            <% csamples.forEach((csample, index) => { %>
                                <% if (index % 2 === 0 && index !== 0) { %>
                                    </div>
                                    <div class="row">
                                <% } %>
                                <div class="col-md-6">
                                    <div class="sample">
                                        <div class="card h-100 w-100 bg-dark" style="color: #c7c7c7; margin-top: 50px;">
                                            <div class="card-body">
                                                <h5 class="card-title"><%= csample.title %></h5>
                                                <p class="card-text"><%= csample.authorname %></p>
                                                <div id="waveform<%= csample.sampleid %>" class="wave"></div>
                                                <ul class="controls list-group list-group-horizontal" style="padding: 10px 0px 5px 0px; display: flex">
                                                    <li class="list-group-item list-group-item-dark text-center">
                                                        <button id="playPauseBtn<%= csample.sampleid %>" class="btn btn-secondary">Play</button>
                                                    </li>
                                                    <li class="list-group-item list-group-item-dark text-center">
                                                        <input type="range" id="loudness<%= csample.sampleid %>" value="50" />
                                                    </li>
                                                    <li class="list-group-item list-group-item-dark text-center">
                                                        <button id="pitchDownBtn<%= csample.sampleid %>" class="btn btn-secondary">Pitch Down</button>
                                                    </li>
                                                    <li class="list-group-item list-group-item-dark text-center">
                                                        <button id="pitchUpBtn<%= csample.sampleid %>" class="btn btn-secondary">Pitch Up</button>
                                                    </li>
                                                </ul>
                                                <ul class="list-group list-group-horizontal" style="padding: 10px 0px 5px 0px;">
                                                    <li class="list-group-item list-group-item-dark text-center">
                                                        <form id="downloadForm<%= csample.sampleid %>" action="/download" method="POST" style="display: none;">
                                                            <input type="hidden" name="userid" value="<%= user.userid %>"> <!-- Add user ID here -->
                                                            <input type="hidden" name="itemid" value="<%= csample.sampleid %>">
                                                            <input type="hidden" name="itemtype" value="sample">
                                                        </form>
                                                        <button id="downloadBtn<%= csample.sampleid %>" class="btn btn-secondary" onclick="document.getElementById('downloadForm<%= csample.sampleid %>').submit();">
                                                            Download
                                                        </button>
                                                    </li>
                                                    <li class="list-group-item list-group-item-dark text-center">
                                                        <form id="deleteForm<%= csample.sampleid %>" action="/delete/sample" method="POST" style="display: none;">
                                                            <input type="hidden" name="itemid" value="<%= csample.sampleid %>">
                                                            <input type="hidden" name="itemtype" value="sample">
                                                        </form>
                                                        <button id="deleteBtn<%= csample.sampleid %>" class="btn btn-danger" onclick="document.getElementById('deleteForm<%= csample.sampleid %>').submit();">
                                                            Delete
                                                        </button>
                                                    </li>
                                                    <li class="list-group-item list-group-item-dark text-center">
                                                        <p id="trackLength<%= csample.sampleid %>">Length: <%= csample.length %></p>
                                                    </li>
                                                    <li class="list-group-item list-group-item-dark text-center">
                                                        <p id="trackKey<%= csample.sampleid %>">Key: <%= csample.key %></p>
                                                    </li>
                                                    <li class="list-group-item list-group-item-dark text-center">
                                                        <p id="trackBPM<%= csample.sampleid %>">BPM: <%= csample.bpm %></p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                        <script type="text/javascript">
                            document.addEventListener('DOMContentLoaded', function() 
                            {
                            var waveformElements = document.querySelectorAll('[id^="waveform"]');
                            var numberOfWaveforms = waveformElements.length;
                            const wavesurfers = [];
                            const csampledatajson = '<%-JSON.stringify(csampledata)%>';
                            const csampledata = JSON.parse(csampledatajson);
                            for (let i=0; i<numberOfWaveforms;i++)
                            {
                            const wavesurfer = WaveSurfer.create({
                            container: `#waveform${csampledata.sampleids[i]}`,
                            responsive: true,
                            height: 60,
                            waveColor: '#00F0FF',
                            progressColor: '#0070FF',
                            });
                    
                            wavesurfer.load(csampledata.samplepaths[i]);
                        
                            const playPauseBtn = document.getElementById(`playPauseBtn${csampledata.sampleids[i]}`);
                            playPauseBtn.addEventListener('click', () => {
                                wavesurfer.playPause();
                                playPauseBtn.innerText = wavesurfer.isPlaying() ? 'Pause' : 'Play';
                            });
                    
                            var loudnessInput = document.getElementById(`loudness${csampledata.sampleids[i]}`);
                            loudnessInput.addEventListener('input', () => {
                                wavesurfer.setVolume(loudnessInput.value / 100);
                            });
                    
                            var pitchDownBtn = document.getElementById(`pitchDownBtn${csampledata.sampleids[i]}`);
                            pitchDownBtn.addEventListener('click', () => {
                                wavesurfer.setPlaybackRate(wavesurfer.getPlaybackRate() - 0.1);
                            });
                        
                            var pitchUpBtn = document.getElementById(`pitchUpBtn${csampledata.sampleids[i]}`);
                            pitchUpBtn.addEventListener('click', () => {
                                wavesurfer.setPlaybackRate(wavesurfer.getPlaybackRate() + 0.1);
                            });
                        
                            var downloadBtn = document.getElementById(`downloadBtn${csampledata.sampleids[i]}`);
                            downloadBtn.addEventListener('click', () => {    });
                        
                            wavesurfers.push(wavesurfer);
                            }
                        });
                        </script>
                    
                    <%}%>
                    
                    <% if (type === 'Packs' && action==='Created') { %>
                        <% for (let i = 0; i < packs.length; i++) { %>
                            <% if (i % 3 === 0) { %>
                                <div class="row">
                            <% } %>
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="<%=packs[i].imagepath%>" class="card-img-top" alt="Pack Image">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= packs[i].title %></h5>
                                        <p class="card-text">Rating: <span class="badge bg-warning"><%= packs[i].rating %></span></p>
                                        <p class="card-text">Price: $<%= packs[i].price %></p>
                                        <ul class="list-group">
                                            <% packs[i].samples.forEach(sample => { %>
                                                <li class="list-group-item sound">
                                                    <div id="waveform<%=sample.sampleid%>" class="wave"></div>
                                                    <button type="button" id="playPauseBtn<%=sample.sampleid%>" class="btn btn-outline-light">
                                                        <img src="/images/play.png" alt="Play" width="20" height="20">
                                                    </button>
                                                </li>
                                            <% }) %>
                                            <li class="list-group-item list-group-item-dark text-center">
                                                <form id="downloadForm<%= packs[i].packid %>" action="/download" method="POST" style="display: none;">
                                                    <input type="hidden" name="userid" value="<%= user.userid %>">
                                                    <input type="hidden" name="itemid" value="<%= packs[i].packid %>">
                                                    <input type="hidden" name="itemtype" value="pack">
                                                </form>
                                                <button id="downloadBtn<%= packs[i].packid %>" class="btn btn-secondary" onclick="document.getElementById('downloadForm<%= packs[i].packid %>').submit();">
                                                    Download
                                                </button>
                                            </li>
                                            <li class="list-group-item list-group-item-dark text-center">
                                                <form id="deleteForm<%= packs[i].sampleid %>" action="/delete/pack" method="POST" style="display: none;">
                                                    <input type="hidden" name="itemid" value="<%= packs[i].packid %>">
                                                    <input type="hidden" name="itemtype" value="sample">
                                                </form>
                                                <button id="deleteBtn<%= packs[i].packid %>" class="btn btn-danger" onclick="document.getElementById('deleteForm<%= packs[i].packid %>').submit();">
                                                    Delete
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <% if (i % 3 === 2 || i === packs.length - 1) { %>
                                </div>
                            <% } %>
                    
                        <%}%>
                        <script type="text/javascript">
                            document.addEventListener('DOMContentLoaded', function() {
                            const waveformElements = document.querySelectorAll('[id^="waveform"]');
                            var numberOfWaveforms = waveformElements.length;
                            const wavesurfers = [];
                            const cpacksampledatajson = '<%-JSON.stringify(sampledata)%>';
                            const cpacksampledata = JSON.parse(cpacksampledatajson);
                            const playPauseBtns = document.querySelectorAll('.btn-outline-light');
                    
                            for (let i=0; i<numberOfWaveforms;i++)
                            {
                            const wavesurfer = WaveSurfer.create({
                            container: `#waveform${cpacksampledata.sampleids[i]}`,
                            responsive: true,
                            height: 60,
                            waveColor: '#00F0FF',
                            progressColor: '#0070FF',
                        });
                        wavesurfer.load(cpacksampledata.samplepaths[i]);
                        wavesurfers.push(wavesurfer);
                        }
                    
                        playPauseBtns.forEach((btn, index) => {
                        btn.addEventListener('click', () => {
                            var img = btn.querySelector('img');
                            var isPlaying = wavesurfers[index].isPlaying();
                    
                            // Seek to the start and toggle play/pause
                            if (isPlaying) {
                                wavesurfers[index].pause();
                                img.src = '/images/play.png'; // Change to play image
                                img.alt = 'Play';
                            } else {
                                wavesurfers[index].seekTo(0);
                                wavesurfers[index].play();
                                img.src = '/images/pause.png'; // Change to pause image
                                img.alt = 'Pause';
                            }
                        });
                    });
                });
                    </script>
                    
                    <%}%>
                    
                    <% if (type === 'Presets' && action==='Created') { %>
                        <%for (let i = 0; i < presets.length; i++) { %>
                            <% if (i % 3 === 0) { %>
                                <div class="row" style="margin-bottom: 20px; margin-top: 15px;">
                            <% } %>
                    
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="<%=presets[i].imagepath%>" class="card-img-top" alt="This will become an image">
                                            <div class="card-body">
                                                <h5 class="card-title"><%=presets[i].title%></h5>
                                                <p class="card-text">Genre: <%=presets[i].genres%></p>
                                                <p class="card-text">VST: <%=presets[i].vst%></p>
                                                <p class="card-text">Author: <%=presets[i].authorname%></p>
                                                <p class="card-text">Price: <%=presets[i].price%></p>
                                                <p class="card-text">Rating: <%=presets[i].rating%></p>
                                                <p class="card-text text-center">
                                                    <form id="downloadForm<%= presets[i].presetid %>" action="/download" method="POST" style="display: none;">
                                                        <input type="hidden" name="userid" value="<%= user.userid %>">
                                                        <input type="hidden" name="itemid" value="<%= presets[i].presetid %>">
                                                        <input type="hidden" name="itemtype" value="preset">
                                                    </form>
                                                    <button id="downloadBtn<%= presets[i].presetid %>" class="btn btn-secondary" onclick="document.getElementById('downloadForm<%= presets[i].presetid %>').submit();">
                                                        Download
                                                    </button>
                                                </p>
                                                <p class="list-group-item list-group-item-dark text-center">
                                                    <form id="deleteForm<%= presets[i].presetid %>" action="/delete/preset" method="POST" style="display: none;">
                                                        <input type="hidden" name="itemid" value="<%= presets[i].presetid %>">
                                                        <input type="hidden" name="itemtype" value="sample">
                                                    </form>
                                                    <button id="deleteBtn<%= presets[i].presetid %>" class="btn btn-danger" onclick="document.getElementById('deleteForm<%= presets[i].presetid %>').submit();">
                                                        Delete
                                                    </button>
                                                </p>
                                            </div>
                                    </div>
                            </div>
                    
                            <% if (i % 3 === 2 || i === presets.length - 1) { %>
                            </div>
                            <% } %>
                        <% } %>
                    <%}%>    

                    <% if (type!='Profile') {%>
                        <a href="/profile" class="btn btn-danger">Back to Profile</a>
                    <% }%>
                </div>
            </div>
        </main>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const currentPath = window.location.pathname;
    const navLinks = document.querySelectorAll('#sidebar a.nav-link');

    navLinks.forEach(link => {
        if (link.getAttribute('href') === currentPath) {
            link.classList.add('active');
        } else {
            link.classList.remove('active');
        }
    });
});
</script>   
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</body>
</html>