<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copyrighted Tracks</title>
    <link href="/fonts/suprapower/stylesheet.css" rel="stylesheet" type="text/css"/>
    <link href="/fonts/programme/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/mainstyle.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/wavesurfer.js@7/dist/wavesurfer.min.js"></script> 
</head>
<body style="background-color: #333333;">
    <header>
        <nav class="navbar navbar-expand-lg bg-dark fixed-top" data-bs-theme="dark" style="z-index: 50; opacity: 0.85;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 list-group list-group-horizontal">
        <li class="nav-item">
          <a class="nav-link" href="/login"  aria-current="page" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile"  aria-current="page" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/tracks">Tracks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/samples">Samples</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/packs">Packs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/presets">Presets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/plugins">VST</a>
        </li>
      </ul>
  </div>
</nav>
<nav id="sidebar" class="col-md-3 col-lg-2 h-100 d-md-block sidebar" style="padding-top: 125px">
    <div class="position-sticky">
        <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/tracks/new"><h4 class="font-weight-bold">New Arrivals</h4></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tracks/genres"><h4 class="font-weight-bold">Genres</h4></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/tracks/authors"><h4 class="font-weight-bold">Artists</h4></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/tracks/labels"><h4 class="font-weight-bold">Labels</h4></a>
                    </li>
        </ul>
    </div>
</nav>
    </header>
<main class="col-md-9 ms-sm-auto col-lg-10 px-xs-5 px-lg-5" data-bs-theme="dark">
    <div class="row">
        <h1>Sample real original music</h1>
        <div class="col-md-12">
        <% if(type==='Random') { %>
          <h1>Random tracks</h1>
          <% tracks.forEach(track => {%> 
            <div class="card h-80 w-100 bg-dark track-big">
              <div class="card-body">
                  <h5 class="card-title"><%= track.title %></h5>
                  <p class="card-text"><%= track.author %></p>
                  <div id="waveform<%= track.trackid %>" class="wave"></div>
                  <ul class="controls list-group list-group-horizontal" style="padding: 10px 0px 5px 0px; display: flex">
                      <li class="list-group-item list-group-item-dark text-center"><button id="playPauseBtn<%= track.trackid %>" class="btn btn-secondary">Play</button></li>
                      <li class="list-group-item list-group-item-dark text-center"><input type="range" id="loudness<%= track.trackid %>" value="50" /></li>
                      <li class="list-group-item list-group-item-dark text-center"><button id="pitchDownBtn<%= track.trackid %>" class="btn btn-secondary">Pitch Down</button></li>
                      <li class="list-group-item list-group-item-dark text-center"><button id="pitchUpBtn<%= track.trackid %>" class="btn btn-secondary">Pitch Up</button></li>
                  </ul>
                  <ul class="list-group list-group-horizontal" style="padding: 10px 0px 5px 0px;">
                    <li class="list-group-item list-group-item-dark text-center">
                      <form id="downloadForm<%= track.trackid %>" action="/download" method="POST" style="display: none;">
                          <input type="hidden" name="userid" value="<%= user.userid %>"> <!-- Add user ID here -->
                          <input type="hidden" name="itemid" value="<%= track.trackid %>">
                          <input type="hidden" name="itemtype" value="track">
                      </form>
                      <button id="downloadBtn<%= track.trackid %>" class="btn btn-secondary" onclick="document.getElementById('downloadForm<%= track.trackid %>').submit();">
                          Download
                      </button>
                  </li>                      <li class="list-group-item list-group-item-dark text-center"><p id="trackLength<%= track.trackid %>">Length: <%= track.length %> </p></li>
                      <li class="list-group-item list-group-item-dark text-center"><p id="trackKey<%= track.trackid %>">Key: <%= track.key %></p></li>
                      <li class="list-group-item list-group-item-dark text-center"><p id="trackBPM<%= track.trackid %>">BPM: <%= track.bpm %></p></li></ul>
                      <ul class="list-group list-group-horizontal" style="padding: 10px 0px 5px 0px;">
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackLabel<%= track.trackid %>">Label: <%= track.label %> </p></li>
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackDateCreated<%= track.trackid %>">Created: <%= track.datecreated %></p></li>
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackDateAdded<%= track.trackid %>">Added to app: <%= track.dateadded %></p></li>
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackGenre<%= track.trackid %>">Genre: <%= track.genre[0] %></p></li>
                      </ul>
              </div>
          </div>            
          <%})%>
        <% } %>
        <% if (type==='New') {%>
          <% tracks.forEach(track => {%> 
            <div class="card h-80 w-100 bg-dark track-big">
              <div class="card-body">
                  <h5 class="card-title"><%= track.title %></h5>
                  <p class="card-text"><%= track.author %></p>
                  <div id="waveform<%= track.trackid %>" class="wave"></div>
                  <ul class="controls list-group list-group-horizontal" style="padding: 10px 0px 5px 0px; display: flex">
                      <li class="list-group-item list-group-item-dark text-center"><button id="playPauseBtn<%= track.trackid %>" class="btn btn-secondary">Play</button></li>
                      <li class="list-group-item list-group-item-dark text-center"><input type="range" id="loudness<%= track.trackid %>" value="50" /></li>
                      <li class="list-group-item list-group-item-dark text-center"><button id="pitchDownBtn<%= track.trackid %>" class="btn btn-secondary">Pitch Down</button></li>
                      <li class="list-group-item list-group-item-dark text-center"><button id="pitchUpBtn<%= track.trackid %>" class="btn btn-secondary">Pitch Up</button></li>
                  </ul>
                  <ul class="list-group list-group-horizontal" style="padding: 10px 0px 5px 0px;">
                    <li class="list-group-item list-group-item-dark text-center">
                      <form id="downloadForm<%= track.trackid %>" action="/download" method="POST" style="display: none;">
                          <input type="hidden" name="userid" value="<%= user.userid %>"> <!-- Add user ID here -->
                          <input type="hidden" name="itemid" value="<%= track.trackid %>">
                          <input type="hidden" name="itemtype" value="Track">
                      </form>
                      <button id="downloadBtn<%= track.trackid %>" class="btn btn-secondary" onclick="document.getElementById('downloadForm<%= track.trackid %>').submit();">
                          Download
                      </button>
                  </li>                      <li class="list-group-item list-group-item-dark text-center"><p id="trackLength<%= track.trackid %>">Length: <%= track.length %> </p></li>
                      <li class="list-group-item list-group-item-dark text-center"><p id="trackKey<%= track.trackid %>">Key: <%= track.key %></p></li>
                      <li class="list-group-item list-group-item-dark text-center"><p id="trackBPM<%= track.trackid %>">BPM: <%= track.bpm %></p></li></ul>
                      <ul class="list-group list-group-horizontal" style="padding: 10px 0px 5px 0px;">
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackLabel<%= track.trackid %>">Label: <%= track.label %> </p></li>
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackDateCreated<%= track.trackid %>">Created: <%= track.datecreated %></p></li>
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackDateAdded<%= track.trackid %>">Added to app: <%= track.dateadded %></p></li>
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackGenre<%= track.trackid %>">Genre: <%= track.genre[0] %></p></li>
                      </ul>
              </div>
          </div>            
          <%})%>
        <%}%> 
        <% if (type==='Genres') {%>
          <% let previousGenre = String(); %>
          <% tracks.forEach(track => {%> 
            <% if (previousGenre!=track.genre.toString()) {%>   
              <h1><%=track.genre%></h1><hr>
            <%} else { previousGenre = track.genre.toString();}%>
            <div class="card h-80 w-100 bg-dark track-big">
              <div class="card-body">
                  <h5 class="card-title"><%= track.title %></h5>
                  <p class="card-text"><%= track.author %></p>
                  <div id="waveform<%= track.trackid %>" class="wave"></div>
                  <ul class="controls list-group list-group-horizontal" style="padding: 10px 0px 5px 0px; display: flex">
                      <li class="list-group-item list-group-item-dark text-center"><button id="playPauseBtn<%= track.trackid %>" class="btn btn-secondary">Play</button></li>
                      <li class="list-group-item list-group-item-dark text-center"><input type="range" id="loudness<%= track.trackid %>" value="50" /></li>
                      <li class="list-group-item list-group-item-dark text-center"><button id="pitchDownBtn<%= track.trackid %>" class="btn btn-secondary">Pitch Down</button></li>
                      <li class="list-group-item list-group-item-dark text-center"><button id="pitchUpBtn<%= track.trackid %>" class="btn btn-secondary">Pitch Up</button></li>
                  </ul>
                  <ul class="list-group list-group-horizontal" style="padding: 10px 0px 5px 0px;">
                    <li class="list-group-item list-group-item-dark text-center">
                      <form id="downloadForm<%= track.trackid %>" action="/download" method="POST" style="display: none;">
                          <input type="hidden" name="userid" value="<%= user.userid %>"> <!-- Add user ID here -->
                          <input type="hidden" name="itemid" value="<%= track.trackid %>">
                          <input type="hidden" name="itemtype" value="Track">
                      </form>
                      <button id="downloadBtn<%= track.trackid %>" class="btn btn-secondary" onclick="document.getElementById('downloadForm<%= track.trackid %>').submit();">
                          Download
                      </button>
                  </li>                      <li class="list-group-item list-group-item-dark text-center"><p id="trackLength<%= track.trackid %>">Length: <%= track.length %> </p></li>
                      <li class="list-group-item list-group-item-dark text-center"><p id="trackKey<%= track.trackid %>">Key: <%= track.key %></p></li>
                      <li class="list-group-item list-group-item-dark text-center"><p id="trackBPM<%= track.trackid %>">BPM: <%= track.bpm %></p></li></ul>
                      <ul class="list-group list-group-horizontal" style="padding: 10px 0px 5px 0px;">
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackLabel<%= track.trackid %>">Label: <%= track.label %> </p></li>
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackDateCreated<%= track.trackid %>">Created: <%= track.datecreated %></p></li>
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackDateAdded<%= track.trackid %>">Added to app: <%= track.dateadded %></p></li>
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackGenre<%= track.trackid %>">Genre: <%= track.genre[0] %></p></li>
                      </ul>
              </div>
          </div>
          <%}) %>
        <% } %>
        <% if (type==='Authors') {%>
          <% let previousAuthor = String(); %>
          <% tracks.forEach(track => {%> 
            <% if (previousAuthor!=track.author.toString()) {%>   
              <h1><%=track.author%></h1><hr>
            <%} else { previousAuthor = track.author.toString();}%>
            <div class="card h-80 w-100 bg-dark track-big">
              <div class="card-body">
                  <h5 class="card-title"><%= track.title %></h5>
                  <p class="card-text"><%= track.author %></p>
                  <div id="waveform<%= track.trackid %>" class="wave"></div>
                  <ul class="controls list-group list-group-horizontal" style="padding: 10px 0px 5px 0px; display: flex">
                      <li class="list-group-item list-group-item-dark text-center"><button id="playPauseBtn<%= track.trackid %>" class="btn btn-secondary">Play</button></li>
                      <li class="list-group-item list-group-item-dark text-center"><input type="range" id="loudness<%= track.trackid %>" value="50" /></li>
                      <li class="list-group-item list-group-item-dark text-center"><button id="pitchDownBtn<%= track.trackid %>" class="btn btn-secondary">Pitch Down</button></li>
                      <li class="list-group-item list-group-item-dark text-center"><button id="pitchUpBtn<%= track.trackid %>" class="btn btn-secondary">Pitch Up</button></li>
                  </ul>
                  <ul class="list-group list-group-horizontal" style="padding: 10px 0px 5px 0px;">
                    <li class="list-group-item list-group-item-dark text-center">
                      <form id="downloadForm<%= track.trackid %>" action="/download" method="POST" style="display: none;">
                          <input type="hidden" name="userid" value="<%= user.userid %>"> <!-- Add user ID here -->
                          <input type="hidden" name="itemid" value="<%= track.trackid %>">
                          <input type="hidden" name="itemtype" value="Track">
                      </form>
                      <button id="downloadBtn<%= track.trackid %>" class="btn btn-secondary" onclick="document.getElementById('downloadForm<%= track.trackid %>').submit();">
                          Download
                      </button>
                  </li>
                      <li class="list-group-item list-group-item-dark text-center"><p id="trackLength<%= track.trackid %>">Length: <%= track.length %> </p></li>
                      <li class="list-group-item list-group-item-dark text-center"><p id="trackKey<%= track.trackid %>">Key: <%= track.key %></p></li>
                      <li class="list-group-item list-group-item-dark text-center"><p id="trackBPM<%= track.trackid %>">BPM: <%= track.bpm %></p></li></ul>
                      <ul class="list-group list-group-horizontal" style="padding: 10px 0px 5px 0px;">
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackLabel<%= track.trackid %>">Label: <%= track.label %> </p></li>
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackDateCreated<%= track.trackid %>">Created: <%= track.datecreated %></p></li>
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackDateAdded<%= track.trackid %>">Added to app: <%= track.dateadded %></p></li>
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackGenre<%= track.trackid %>">Genre: <%= track.genre[0] %></p></li>
                      </ul>
              </div>
          </div>
          <%}) %>
        <% } %>
        <% if (type==='Labels') {%>
          <% let previousLabel = String(); %>
          <% tracks.forEach(track => {%> 
            <% if (previousLabel!=track.label.toString()) {%>   
              <h1><%=track.label%></h1><hr>
            <%} else { previousLabel = track.label.toString();}%>
            <div class="card h-80 w-100 bg-dark track-big">
              <div class="card-body">
                  <h5 class="card-title"><%= track.title %></h5>
                  <p class="card-text"><%= track.author %></p>
                  <div id="waveform<%= track.trackid %>" class="wave"></div>
                  <ul class="controls list-group list-group-horizontal" style="padding: 10px 0px 5px 0px; display: flex">
                      <li class="list-group-item list-group-item-dark text-center"><button id="playPauseBtn<%= track.trackid %>" class="btn btn-secondary">Play</button></li>
                      <li class="list-group-item list-group-item-dark text-center"><input type="range" id="loudness<%= track.trackid %>" value="50" /></li>
                      <li class="list-group-item list-group-item-dark text-center"><button id="pitchDownBtn<%= track.trackid %>" class="btn btn-secondary">Pitch Down</button></li>
                      <li class="list-group-item list-group-item-dark text-center"><button id="pitchUpBtn<%= track.trackid %>" class="btn btn-secondary">Pitch Up</button></li>
                  </ul>
                  <ul class="list-group list-group-horizontal" style="padding: 10px 0px 5px 0px;">
                    <li class="list-group-item list-group-item-dark text-center">
                      <form id="downloadForm<%= track.trackid %>" action="/download" method="POST" style="display: none;">
                          <input type="hidden" name="userid" value="<%= user.userid %>"> <!-- Add user ID here -->
                          <input type="hidden" name="itemid" value="<%= track.trackid %>">
                          <input type="hidden" name="itemtype" value="Track">
                      </form>
                      <button id="downloadBtn<%= track.trackid %>" class="btn btn-secondary" onclick="document.getElementById('downloadForm<%= track.trackid %>').submit();">
                          Download
                      </button>
                  </li>
                      <li class="list-group-item list-group-item-dark text-center"><p id="trackLength<%= track.trackid %>">Length: <%= track.length %> </p></li>
                      <li class="list-group-item list-group-item-dark text-center"><p id="trackKey<%= track.trackid %>">Key: <%= track.key %></p></li>
                      <li class="list-group-item list-group-item-dark text-center"><p id="trackBPM<%= track.trackid %>">BPM: <%= track.bpm %></p></li></ul>
                      <ul class="list-group list-group-horizontal" style="padding: 10px 0px 5px 0px;">
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackLabel<%= track.trackid %>">Label: <%= track.label %> </p></li>
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackDateCreated<%= track.trackid %>">Created: <%= track.datecreated %></p></li>
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackDateAdded<%= track.trackid %>">Added to app: <%= track.dateadded %></p></li>
                          <li class="list-group-item list-group-item-dark text-center"><p id="trackGenre<%= track.trackid %>">Genre: <%= track.genre[0] %></p></li>
                      </ul>
              </div>
          </div>
          <%}) %>
        <% } %>
        </div>
    </div>
</main>
<script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
    const currentPath = window.location.pathname;
    const navLinks = document.querySelectorAll('#sidebar a.nav-link');

    navLinks.forEach(link => {
        if (link.getAttribute('href') === currentPath) {
            link.classList.add('active');
        } else {
            link.classList.remove('active');
        }
    });
});
  document.addEventListener('DOMContentLoaded', function() {
  const waveformElements = document.querySelectorAll('[id^="waveform"]');
  const trackdatajson = '<%- JSON.stringify(trackdata) %>';
  const trackdata = JSON.parse(trackdatajson);
  const wavesurfers = [];

  waveformElements.forEach((waveform, index) => {
      const wavesurfer = WaveSurfer.create({
          container: `#waveform${trackdata.trackids[index]}`,
          responsive: true,
          height: 60,
          waveColor: '#00F0FF',
          progressColor: '#0070FF',
      });

      wavesurfer.load(trackdata.trackpaths[index]);

      const playPauseBtn = document.getElementById(`playPauseBtn${trackdata.trackids[index]}`);
      if (playPauseBtn) {
          playPauseBtn.addEventListener('click', () => {
              wavesurfer.playPause();
              playPauseBtn.innerText = wavesurfer.isPlaying() ? 'Pause' : 'Play';
          });
      }

      const loudnessInput = document.getElementById(`loudness${trackdata.trackids[index]}`);
      if (loudnessInput) {
          loudnessInput.addEventListener('input', () => {
              wavesurfer.setVolume(loudnessInput.value / 100);
          });
      }

      const pitchDownBtn = document.getElementById(`pitchDownBtn${trackdata.trackids[index]}`);
      if (pitchDownBtn) {
          pitchDownBtn.addEventListener('click', () => {
              wavesurfer.setPlaybackRate(wavesurfer.getPlaybackRate() - 0.1);
          });
      }

      const pitchUpBtn = document.getElementById(`pitchUpBtn${trackdata.trackids[index]}`);
      if (pitchUpBtn) {
          pitchUpBtn.addEventListener('click', () => {
              wavesurfer.setPlaybackRate(wavesurfer.getPlaybackRate() + 0.1);
          });
      }

      const downloadBtn = document.getElementById(`downloadBtn${trackdata.trackids[index]}`);
      if (downloadBtn) {
          downloadBtn.addEventListener('click', () => { });
      }

      wavesurfers.push(wavesurfer);
  });
});
</script>
</body>
</html>
