<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracks</title>
    <link href="/fonts/suprapower/stylesheet.css" rel="stylesheet" type="text/css"/>
    <link href="/fonts/programme/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/mainstyle.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/wavesurfer.js@7/dist/wavesurfer.min.js"></script>
</head>
<body style="background-color: #333333;">
    <header>
        <nav class="navbar navbar-expand-lg bg-dark fixed-top" data-bs-theme="dark" style="z-index: 50; opacity: 0.85;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 list-group list-group-horizontal">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/copyrights">Copyright Tracks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/usersamples">User Samples</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/packs">Packs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vst">VST</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/presets">Presets</a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav id="sidebar" class="col-md-3 col-lg-2 h-100 d-md-block sidebar">
          <div class="position-sticky">
            <ul class="nav flex-column">
              <li class="nav-item text-light">
                <h4 class="font-weight-bold"><a class="nav-link" href="/profile">Profile</a></h4>
              </li>
              <li class="nav-item text-light">
                <h4 class="font-weight-bold">Downloaded Items</h4>
                <div class="scrollable-content">
                  <ul class="nav flex-column">
                    <li class="nav-item text-light"><a class="nav-link active" href="/profile/items/tracks">Tracks</a></li>
                    <li class="nav-item text-light"><a class="nav-link" href="/profile/items/samples">Samples</a></li>
                    <li class="nav-item text-light"><a class="nav-link" href="/profile/items/packs">Packs</a></li>
                    <li class="nav-item text-light"><a class="nav-link" href="/profile/items/presets">Presets</a></li>
                    <li class="nav-item text-light"><a class="nav-link" href="/profile/items/plugins">Plugins</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item text-light">
                <h4 class="font-weight-bold">Created Items</h4>
                <div class="scrollable-content">
                  <ul class="nav flex-column">
                    <li class="nav-item text-light"><a class="nav-link" href="/profile/items/samples-created">Samples</a></li>
                    <li class="nav-item text-light"><a class="nav-link" href="/profile/items/packs-created">Packs</a></li>
                    <li class="nav-item text-light"><a class="nav-link" href="/profile/items/presets-created">Presets</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </nav>
    </header>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-xs-5 px-lg-5 content-area" data-bs-theme="dark" style="margin-top: 50px; margin-bottom: 50px;">
    <h1 id="mydiv" data-test="<%=type%>"><%= type %></h1>
    <% if (type === 'Tracks') { %>
        <div class="row" id="dtracks">
            <div class="col-md-12">
                <h1>Downloaded Tracks</h1>
                <% tracks.forEach(track=>{ %>
                    <div class="card h-80 w-100 bg-dark track-big">
                        <div class="card-body">
                            <h5 class="card-title"><%= track.title %></h5>
                            <p class="card-text"><%= track.author %></p>
                            <div id="waveform<%=track.trackid%>" class="wave"></div>
                            <ul class="controls list-group list-group-horizontal" style="padding: 10px 0px 5px 0px; display: flex">
                                <li class="list-group-item list-group-item-dark text-center"><button id="playPauseBtn<%=track.trackid%>" class="btn btn-secondary">Play</button></li>
                                <li class="list-group-item list-group-item-dark text-center"><input type="range" id="loudness<%=track.trackid%>" value="50" /></li>
                                <li class="list-group-item list-group-item-dark text-center"><button id="pitchDownBtn<%=track.trackid%>" class="btn btn-secondary">Pitch Down</button></li>
                                <li class="list-group-item list-group-item-dark text-center"><button id="pitchUpBtn<%=track.trackid%>" class="btn btn-secondary">Pitch Up</button></li>
                            </ul>
                            <ul class="list-group list-group-horizontal" style="padding: 10px 0px 5px 0px;">
                                <li class="list-group-item list-group-item-dark text-center"><button id="downloadBtn<%=track.trackid%>" class="btn btn btn-secondary ">Download</button></li>
                                <li class="list-group-item list-group-item-dark text-center"><p id="trackLength<%=track.trackid%>">Length: <%=track.length%> </p></li>
                                <li class="list-group-item list-group-item-dark text-center"><p id="trackKey<%=track.trackid%>">Key: <%=track.key%></p></li>
                                <li class="list-group-item list-group-item-dark text-center"><p id="trackBPM<%=track.trackid%>">BPM: <%=track.bpm%></p></li></ul>
                                <ul class="list-group list-group-horizontal" style="padding: 10px 0px 5px 0px;">
                                    <li class="list-group-item list-group-item-dark text-center"><p id="trackLabel<%=track.trackid%>">Label: <%=track.label%> </p></li>
                                    <li class="list-group-item list-group-item-dark text-center"><p id="trackDateCreated<%=track.trackid%>">Created: <%=track.datecreated%></p></li>
                                    <li class="list-group-item list-group-item-dark text-center"><p id="trackDateAdded<%=track.trackid%>">Added to app: <%=track.dateadded%></p></li>
                                    <li class="list-group-item list-group-item-dark text-center"><p id="trackGenre<%=track.trackid%>">Genre: <%=track.genre[0]%></p></li>
                                </ul>
                        </div>
                    </div>
                        <% }); %>
            </div>
        </div>
        <% } %>
    <a href="/profile" class="btn btn-danger">Back to Profile</a>
</main>
        <script type="text/javascript">
        const waveformElements = document.querySelectorAll('[id^="waveform"]');
        const numberOfWaveforms = waveformElements.length;
        const wavesurfers = [];
        const trackdatajson = '<%-JSON.stringify(trackdata)%>';
        const trackdata = JSON.parse(trackdatajson);
        

        for (let i=0; i<numberOfWaveforms;i++)
        {
        const wavesurfer = WaveSurfer.create({
        container: `#waveform${trackdata.trackids[i]}`,
        responsive: true,
        height: 60,
        waveColor: '#00F0FF',
        progressColor: '#0070FF',
    });

    wavesurfer.load(trackdata.trackpaths[i]);

    const playPauseBtn = document.getElementById(`playPauseBtn${trackdata.trackids[i]}`);
    playPauseBtn.addEventListener('click', () => {
        wavesurfer.playPause();
        playPauseBtn.innerText = wavesurfer.isPlaying() ? 'Pause' : 'Play';
    });

    const loudnessInput = document.getElementById(`loudness${trackdata.trackids[i]}`);
    loudnessInput.addEventListener('input', () => {
        wavesurfer.setVolume(loudnessInput.value / 100);
    });

    const pitchDownBtn = document.getElementById(`pitchDownBtn${trackdata.trackids[i]}`);
    pitchDownBtn.addEventListener('click', () => {
        wavesurfer.setPlaybackRate(wavesurfer.getPlaybackRate() - 0.1);
    });

    const pitchUpBtn = document.getElementById(`pitchUpBtn${trackdata.trackids[i]}`);
    pitchUpBtn.addEventListener('click', () => {
        wavesurfer.setPlaybackRate(wavesurfer.getPlaybackRate() + 0.1);
    });

    const downloadBtn = document.getElementById(`downloadBtn${trackdata.trackids[i]}`);
    downloadBtn.addEventListener('click', () => {    });

    wavesurfers.push(wavesurfer);
    }
        </script>
</body>
</html>

